<div class="wrapper">
  <!-- Sidebar  -->
  <app-admin-sidebar style="background: #7386D5"></app-admin-sidebar>
  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fa fa-align-left"></i>
          <!-- <span>Toggle Sidebar</span> -->
        </button>
        <h1>Super Category</h1>
      </div>
    </nav>
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12">
          <div class="header">
            <div class="row">
              <div class="col col-xs-6">
                <h3 class="panel-title"></h3>
              </div>
              <div class="col col-xs-6 text-right">
                <button type="button" class="btn btn-sm btn-info btn-create" data-toggle="modal" data-target="#myModal">Create New</button>
              </div>
            </div>
          </div>
          <div class="placeholder" *ngIf="this.allProductsLength == 0">
            <p>No Super Category is Available</p>
          </div>
          <div class="" *ngIf="this.allProductsLength != 0">
            <div class="table-responsive">
              <table class="table table-list">
                <thead>
                  <tr>
                    <th class="hidden-xs">ID</th>
                    <th>Name</th>
                    <th>Category Code</th>
                    <th>Description</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <!--    <tr *ngFor = 'let product of this.allProducts; let i = index'>
                                <td class="hidden-xs">{{i+1}}</td> -->
                  <tr *ngFor='let product of this.allProducts | paginate: {itemsPerPage:20, currentPage:p}'>
                    <td>{{product.productID}}</td>
                    <td>{{product.productName}}</td>
                    <td>{{product.productCode}}</td>
                    <td>{{product.productDescription}}</td>
                    <td class="actionBtn">
                      <a class="btn btn-default" routerLink='/editSuperCategory/{{product.productID}}'><em class="fa fa-pencil"></em></a>
                      <a class="btn btn-danger" (click)='deleteProduct(product)'><em class="fa fa-trash"></em></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination">
      <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
<!-- Create Product Modal -->
<div class="modal  animated zoomIn fast" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Super Category</h4>
      </div>
      <div class="modal-body">
        <div class="row wrapper">
          <div class="col-md-12 col-xs-12">
            <div class="form-wrapper">
              <form [formGroup]='addProductForm' (ngSubmit)='addProduct(addProductForm)' ngNativeValidate>
                <div class="form-group row">
                  <div class="col-md-12 col-xs-12">
                    <label for="name">Super Category Name</label>
                    <input type="text" class="form-control" id="productName" name="productName" placeholder="Product name" formControlName='productName'>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12 col-xs-12">
                    <label for="name">Super Category Key</label>
                    <input type="text" class="form-control" id="productKey" name="productKey" placeholder="Example: ST for stationary" formControlName='productKey'>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12 col-xs-12">
                    <label for="remark">Description</label>
                    <textarea class="form-control" rows="5" id="description" placeholder="Add your description" formControlName='description'></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="buttons">
                    <button class="btn btn-info" [disabled]="!addProductForm.valid"><i class="fa fa-plus" aria-hidden="true"></i> Add Category</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
