<div class="wrapper">
  <!-- Sidebar  -->
  <app-admin-sidebar style="background: #7386D5"></app-admin-sidebar>
  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fa fa-align-left"></i>
        </button>
        <h1>Edit {{this.category}}</h1>
      </div>
    </nav>
    <div class="content-wrapper">
      <div class="row">
          <div class="col-md-10 col-xs-12">
              <div class="form-wrapper">
                  <form (submit) = 'editCategory(category1.value,categoryKey.value, categoryDescription.value)'>
                      <div class="form-group row">
                          <div class="col-md-6 col-xs-12">
                              <label for="category1">Category Name</label>
                              <input type="text" class="form-control" id="category1" name = "category1" [value]="this.category" #category1>
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-md-6 col-xs-12">
                              <label for="categoryKey">Key</label>
                              <input type="text" class="form-control" id="categoryKey" name = "categoryKey" [value] = "this.categoryKeyValue" #categoryKey>
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-md-6 col-xs-12">
                              <label for="categoryDescription">Description</label>
                              <textarea class="form-control" rows="5" id="categoryDescription" name="categoryDescription" [value]="this.description" #categoryDescription></textarea>
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-md-6 col-xs-12">
                            <div class="buttons">
                                <button type="submit" class="btn btn-info"> UPDATE</button>
                            </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

