
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Print Sewa</h3>
      <strong>PS</strong>
    </div>
    <ul class="list-unstyled components">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/"><i class="fa fa-tachometer"></i> Dashboard</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/superCategory"><i class="fa fa-superpowers"></i> Super Category</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/category"><i class="fa fa-image"></i> Category</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/addAdditionalOptions"><i class="fa fa-plus"></i> Additional Options</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/product"><i class="fa fa-image"></i> Products</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/admin"><i class="fa fa-user"></i> Admin</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/offers"><i class="fa fa-tasks"></i> Product Offers</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/contentManagement"><i class="fa fa-file-text-o"></i> Content Management</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/pricingManagement"><i class="fa fa-money"></i> Pricing Management</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/orders"><i class="fa fa-cog"></i> Order Management</a>
      </li>
    </ul>
  </nav>
